.main {
  max-width: 62rem;
  margin: auto;
}

.intro__list-container {
  vertical-align: baseline;
}

.intro__list {
  text-align: center;
  padding: 0;
}

.intro__list li {
  list-style: none;
}

.intro__image {
  width: 40vw;
  max-width: 12rem;
}

.intro__copy {
  width: 30rem;
  padding-left: clamp(1rem, 5vw, 3rem);
}

.intro__title {
  max-width: 16ch;
}

.project {
  position: relative;
}

.project img {
  width: 15rem;
}

.project__left {
  position: absolute;
  top: 50%;
  font-size: 2rem;
}

.project__right {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 2rem;
}

.project__table-container {
  overflow: hidden;
}

.project__table {
  border: 1px solid black;
  margin: auto;
}

@media (min-width:1010px) {

  .project__left,
  .project__right {
    display: none;
  }
}